@model Edu_Station.Models.Turma

<!DOCTYPE html>
<html>
<head>
    @{
        ViewData["Title"] = "Editar Turma";
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="~/css/PagEditCreate.css">
</head>
<body class="bodyy">
    <div class="registration-form">
        <form asp-action="Editar">
            <div class="form-icon">
                <span class="material-symbols-outlined">
                    stethoscope
                </span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="Nome" class="form-control item" placeholder="Nome da turma">
                <span asp-validation-for="Nome" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="text" asp-for="Ano" class="form-control item" placeholder="Ano da Turma" required>
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="date" asp-for="DataCriacao" class="form-control item" placeholder="Data de Criação" required>
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div style=" display: flex; justify-content: center;">
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-block create-account">Criar</button>
                    <a asp-action="Index" class="btn btn-block create-account">Voltar</a>
                </div>

            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>