@{
    Layout = null;
}

@if (TempData["MensagemEmailNaoEncontrado"] != null)
{
    <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["MensagemEmailNaoEncontrado"]
    </div>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <link rel="stylesheet" href="~/css/Login/Login.css" />
</head>
<body style="margin:auto">

    <div class="container">
        <div class="left">
            <div class="header">
                <h2 class="animation a1">Recuperação de Senha</h2>
                <h4 class="animation a2">Adicione o e-mail que foi cadastrado e selecione o perfil</h4>
            </div>
            <form asp-controller="Login" asp-action="PrimeiroLogin" class="form" method="post">
                <input type="email" class="form-field animation a3" name="email" placeholder="e-mail">

                <select name="perfil" class="form-field animation a3">
                    <option value="">Perfil</option>
                    <option value="1">Diretor</option>
                    <option value="2">Docente</option>
                    <option value="3">Aluno</option>
                </select>

                <button type="submit" class="animation a6">Entrar</button>
                <button asp-action="Index" class="animation a7">Voltar</button>
            </form>
        </div>
    </div>

</body>
</html>
